.background{
justify-content:center;
}

.mel{
    max-width:20vw;

}



.jenny{
    max-width:20vw;
}

.collage{
    width:91vw;
}

.cardbg{
   background-color:black;
}

@media (max-width:768px)
{
    .mel{
        max-width:100%;
    }
}

@media (max-width:768px)
{
    .jenny{
        max-width:100%;
    }
}
